addict==2.4.0
autopep8
bosdyn-api==4.0.3
bosdyn-client==4.0.3
braceexpand==0.1.7
clip@git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cmake==3.30.5
cython==3.0.11
dash==2.18.1
devtools==0.12.2
einops==0.8.0
fairscale==0.4.4
fvcore==0.1.5.post20221221
gdown==5.2.0
gym==0.22.0
hydra-core==1.3.2
icu==0.0.1
ifcfg==0.24
iopath==0.1.10
--extra-index-url https://pypi.nvidia.com
isaacsim[all,extscache]==4.5.0.0
lmdb==1.5.1
loguru==0.7.2
make==0.1.6.post2
mkl==2024.0.0 
natsort==8.4.0
numba==0.60.0
numpy==1.26.4
nvtx==0.2.10
objectio
opencv-python==4.8.0.74
pandas==2.2.3
plotly==5.24.1
pybind11==2.13.6
pybullet==3.2.6
pycocoevalcap==1.2
pycocotools==2.0.8
salesforce-lavis==1.0.2
scikit-fmm==2024.9.16
scikit-image==0.24.0
scikit-learn==1.5.2
seaborn==0.13.2
simplejson==3.19.3
six==1.16.0
spacy==3.7.5
spot_wrapper@git+https://github.com/naokiyokoyama/bd_spot_wrapper.git
supervision==0.24.0
tensorboard==2.18.0
threadpoolctl==3.5.0
timm==0.4.12
torch-geometric==2.6.1
transformers==4.26.1
trimesh==4.5.2
yacs==0.1.8
yapf==0.40.2
